In [1]:
from approximate import ApprOXimate

analyser = ApprOXimate()

In [2]:
import pandas as pd

df = pd.read_csv('master_list_p2o3.csv')
df

,UID,Chemical,Time,Temperature,P2O3ratio,Cat_Success
0,U00001,NaCuO2,12,950,-2.000000,Unsuccessful
1,U00002,NaFeO2,12,950,-1.000000,Unsuccessful
2,U00003,NaMnO2,12,950,0.271015,Successful
3,U00004,NaNiO2,12,950,-1.000000,Unsuccessful
4,U00005,NaCu0.5Fe0.5O2,12,950,-1.000000,Unsuccessful
...,...,...,...,...,...,...
364,U00365,Na0.5Cu7/18Ni7/18Fe1/9Mn1/9O2,3,950,-2.000000,Unsuccessful
365,U00366,Na0.5Fe7/18Mn7/18Cu1/9Ni1/9O2,3,950,0.939342,Successful
366,U00367,Na0.5Cu7/18Fe7/18Mn1/9Ni1/9O2,3,950,-1.000000,Unsuccessful
367,U00368,Na0.5Mn7/18Ni7/18Fe1/9Cu1/9O2,3,950,0.236849,Successful
368,U00369,Na0.5Cu7/18Mn7/18Fe1/9Ni1/9O2,3,950,0.000000,Successful

In [5]:
oximate_strings = []

for formula in df['Chemical']:
    result_string = analyser.charge_balance(formula, return_format='string')
    result_string = ";".join(result_string.split(";")[:-1])
    oximate_strings.append(result_string)

df['Oximate_Strings'] = oximate_strings

In [7]:
df.to_csv('master_list_p2o3_with_oximate_strings.csv', index=False)